imports:
    - { resource: vendor/phpro/symfony-conventions/grumphp-convention.yml }
parameters:
    # Project preferences
    commit_project_names: "(.*)" # The prefix(es) of the jira project.
    run_phpstan: false # Enable after installing the phpstan preset
    run_psalm: true # Enable after installing the psalm preset
    run_security_advisories: false # Enable after installing the security advisories preset
    phpunit.parallel: false # Decide if it is possible to run phpunit tests in parallel or not.

    # Personal preferences
    stop_on_first_failure: false
    grumhp_exec_command: php

grumphp:
    tasks:
        clover_coverage:
            clover_file: var/coverage.xml
            level: 100
        git_commit_message:
            metadata:
                enabled: false
